<!-------- Add Header Here ------->
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    style="color: orangered;">
    <mat-icon>developer_board</mat-icon>
  </button>
  <span style="color: orangered;">Angular 13 CRUD Project</span>
  <span class="example-spacer"></span>
  <button mat-flat-button color="warn" routerLink="./dialog">Add Product</button>
</mat-toolbar>





<!-------- Show Display Data Table Here ------->
<section class="display-table-container">
  <app-display-table></app-display-table>
</section>
